In [6]:
import pandas as pd

In [7]:
airfoil_res= pd.read_csv("airfoil/results.csv")
airfoil_res.groupby("model")[["rmse","nll_default", "nll_mean", "train_time", "total_time"]].mean()

              rmse  nll_default  nll_mean  train_time  total_time
model
bde       0.121569    -0.912640 -0.688814  239.882978  240.876470
catboost  0.239352     0.147989 -0.010974    0.836420    0.847442
de        0.364660     0.176351  0.410106   19.381355   20.232303
linear    0.659863          NaN  1.003216    0.000820    0.000915
rf        0.256094          NaN  0.056716    1.304739    1.461048
tabpfn    0.135912    -0.933830 -0.576975    0.322314    9.315087
xgb       0.202524          NaN -0.178253    1.240055    1.246755

In [8]:

airfoil_res.groupby("model")[["rmse", "nll_default", "nll_mean", "total_time"]]    .agg(["mean","std"])

              rmse           nll_default            nll_mean            \
              mean       std        mean       std      mean       std
model
bde       0.121569  0.004229   -0.912640  0.013116 -0.688814  0.034686
catboost  0.239352  0.003629    0.147989  0.141360 -0.010974  0.015221
de        0.364660  0.003811    0.176351  0.004311  0.410106  0.010482
linear    0.659863  0.000000         NaN       NaN  1.003216  0.000000
rf        0.256094  0.001473         NaN       NaN  0.056716  0.005740
tabpfn    0.135912  0.002782   -0.933830  0.019492 -0.576975  0.020544
xgb       0.202524  0.005518         NaN       NaN -0.178253  0.026996

          total_time
                mean       std
model
bde       240.876470  4.466620
catboost    0.847442  0.024671
de         20.232303  1.164010
linear      0.000915  0.000385
rf          1.461048  0.012741
tabpfn      9.315087  0.782541
xgb         1.246755  0.030573

In [9]:
bikesharing_res= pd.read_csv("bikesharing/results.csv")
bikesharing_res.groupby("model")[["rmse","nll_default", "nll_mean", "train_time", "total_time", "total_time"]].mean()

,rmse,nll_default,nll_mean,train_time,total_time,total_time
model,,,,,,
bde,0.226103,-0.731546,-0.067849,2553.247184,2555.079701,2555.079701
catboost,0.265245,-0.373666,0.091812,2.511384,2.523658,2.523658
de,0.287888,-0.455085,0.173624,38.953456,39.751379,39.751379
linear,0.779625,NaN,1.169997,0.003357,0.003489,0.003489
rf,0.244033,NaN,0.008488,6.570771,6.806446,6.806446
tabpfn,0.210356,-0.685566,-0.140020,1.427495,1245.987062,1245.987062
xgb,0.214298,NaN,-0.121460,1.876248,1.898082,1.898082

In [10]:

bikesharing_res.groupby("model")[["rmse", "nll_default", "nll_mean"]].agg(["mean","std"])

              rmse           nll_default            nll_mean
              mean       std        mean       std      mean       std
model
bde       0.226103  0.001620   -0.731546  0.009857 -0.067849  0.007137
catboost  0.265245  0.002120   -0.373666  0.022940  0.091812  0.008002
de        0.287888  0.005205   -0.455085  0.017272  0.173624  0.018080
linear    0.779625  0.000000         NaN       NaN  1.169997  0.000000
rf        0.244033  0.000222         NaN       NaN  0.008488  0.000908
tabpfn    0.210356  0.000865   -0.685566  0.006246 -0.140020  0.004103
xgb       0.214298  0.001045         NaN       NaN -0.121460  0.004888